/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilização do body para centralizar o conteúdo */
body {
    display: flex;
    justify-content: center;
    background: url('icons/background.png') no-repeat center center fixed;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Container que envolve o input e o botão */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização do input */
.container input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilização do botão */
.container button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.container button:hover {
    background-color: #0056b3;
}
